/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap"); /*no longer used*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {

  /*Pre-defined color sets*/
  --primary: rgb(230, 94, 90);
  --primary--dim: rgb(247, 161, 162);
  --darkgrey: rgb(0, 0, 0); /*black*/
  --medgrey: rgb(222, 221, 213);
  --grey: rgb(240, 242, 236);
  --darkergrey: lightgrey;
  --white: #fff;
  --aqua: rgb(1, 182, 216);
  --green: rgb(105, 182, 73);
  --yellow: rgb(252, 242, 134);
  --textcolor: black;
  --subtextcolor: gray;

  /*Main group*/
  --main-background2: var(--grey);
  --navbar-container2: linear-gradient(to right top, #65dfc9,#6cdbeb);
  --navbar-container: var(--primary);
  --navbar-header: var(--textcolor);

  /*Project Page*/
  --projectpage-headerTitle: var(--primary); 
  --projectpage-headerTitleShadow: var(--primary--dim);
  --storycard-background: var(--primary--dim);
  --storycard-textColor: var(--textcolor);

  /*CreateProject Page*/
  --createproject-textfield-background: var(--primary--dim);
  --createprojectdisplay-background: var(--darkergrey);

  /*Journal*/
  --journal-container-background: var(--primary--dim);
  --journal-container-border: var(--primary);
  --journal-message-time-text: var(--subtextcolor);

  /*Buttons*/
  --button-background: var(--grey); /*same as main-background for transparency*/
  --button-text_border: var(--primary); /*for both the text and the border*/
  --button-background-hover: var(--primary); /*box fill color when mouse is hovered over it*/
  --button-text-hover: var(--white); /*text color when mouse is hovered over it*/

  /*Explore Page Tags*/
  /*This tag scheme repeats for every 3 additional unique project tags that we have*/
  --explorepage-tagBorder: var(--white);
  --explorepage-tagOne: var(--aqua);
  --explorepage-tagTwo: var(--green);
  --explorepage-tagThree: var(--yellow);

  --xxs: 2px;
  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xl: 32px;
  --xxl: 40px;
  --xxxl: 40px;
}

html {
  cursor: url("./components/modules/blue_cursor_resized.png"), auto;
  background: var(--main-background2);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  transform: translate(-35%,-35%);
  pointer-events: none;
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}