.AboutUs-banner-Container {
    width: 100vw;
    max-width: 100vw;
    height: 10vw;
    background: url(../../public/GumdropsBanner.png) center center no-repeat;
    background-size: 50vw auto;
}


.AboutUs-title{
    text-align: center;
    padding: 1vw;
    font-size: 3vw;
    color: rgba(187, 64, 15, 0.945);
    background-color: rgb(247, 241, 223);
    border: 1px solid grey;
}

.AboutUs-text{
    text-align: center;
    padding: 1.5vw 10vw 1vw 10vw;
    color: rgb(88, 29, 29);
    font-size: 1.6vw;
    font-weight: 500;
    line-height: 3vw;

}

.AboutUs-link{
    text-align: center;
    max-width:100%;
    margin: 0;
    padding: 0 10vw 1vw 10vw;
    color: rgb(170, 70, 70);
    font-size: 1.6vw;
}

.AboutUs-title2{
    text-align: center;
    padding: 1vw;
    font-size: 2.5vw;
    color: rgba(187, 64, 15, 0.945);
    background-color: rgb(247, 241, 223);
    border: 1px solid grey;
}