.CreateProject-container{
    line-height: 20%;
    padding: var(--l);
    justify-content: center;
    margin-top: var(--m);
}

.CreateProject-inputContainer { 
    padding-top: var(--s);
}

.CreateProject-button {
    align-self: flex-end;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    padding: var(--s) var(--m);
    color: var(--button-text_border);
    border: var(--button-text_border) 1px solid;
    border-radius: var(--s);
    background: var(--button-background);
    transition: color 0.1s, background 0.1s;
}

.CreateProject-button:hover {
    color: var(--button-text-hover);
    background-color: var(--button-background-hover);
}
  
