.Explore-container{
    flex-wrap: wrap;
}

.Explore-tagAqua, .Explore-tagPink, .Explore-tagPrimary{
    border: var(--darkgrey) 1px solid;
    border-radius: var(--m);
    transition: box-shadow 0.1s;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: var(--s) var(--m);
    width: 95%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: var(--l);
    opacity: 70%;
}

.Explore-tagAqua {
    background-color: var(--aqua);
}

.Explore-tagPink {
    background-color: var(--pink);
}

.Explore-tagPrimary {
    background-color: var(--primary);
}