.getStarted-title{
    margin-top: 2vw;
}

.getStarted-instruct-container {
    display: flex;
    justify-content: center;
}

.getStarted-step-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
}

.getStarted-leftStep-container {
    width: 50%;
    max-width: 50%;
    text-align: center;
}

.getStarted-rightStep-container {
    width: 50%;
    max-width: 50%;
}

.getStarted-textTitle {
    color: var(--primary);
}

.getStarted-subText {

}