.getStarted-title{
    margin-top: 2vw;
    color: var(--primary-dark);
    font-size: 2em;
}

.getStarted-instruct-container {
    display: flex;
    justify-content: center;
    padding-bottom: 6vh;
}

.getStarted-step-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
}

.getStarted-leftStep-container {
    width: 50%;
    max-width: 50%;
    text-align: center;

}

.getStarted-leftStep-text {
    margin-left: 6vw;
    margin-right: 6vw;
}


.getStarted-rightStep-container {
    width: 50%;
    max-width: 50%;
}

.getStarted-textTitle {
    color: var(--primary);
    padding-bottom: 1vh;
}

.getStarted-subText {
    color: var(--textcolor);
    font-size: 1.2em;
}

.getStarted-subText + 
.getStarted-subText {
    padding-top: 2vh;
}

.getStarted-img {
    max-width: 30vw;
}