/* .Rewards-achievementsContainer{
    width: 25vw;
    height: 40vh;
}

.Rewards-unlockContainer{
    width: 25vw;
    height: 40vh;
} */

.Rewards-achievement{
    width: fit-content;
    margin-left: var(--xl);
}

.Rewards-unlockables{
    width: fit-content;
    margin-left: var(--xl);
}

.Rewards-centerImg{ /*is sometimes a button*/
    background-size: contain;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 10vw;
    height: 10vw;
    max-width: 20vw;
    max-height: 20vh;
    border-radius: 50%;
}

.Rewards-centerImg:hover {
    cursor: var(--cursor-pointer);
}

.Rewards-title{
    margin-left: var(--m);
    color: var(--textcolor);
}

.Rewards-subtitle{
    margin-left: var(--m);
    color: var(--textcolor);
}

.Rewards-subText {
    color: var(--rewards-subtext);
}

