/* .Rewards-achievementsContainer{
    width: 25vw;
    height: 40vh;
}

.Rewards-unlockContainer{
    width: 25vw;
    height: 40vh;
} */

.Rewards-achievement{
    width: fit-content;
    margin-left: var(--xl);
}

.Rewards-unlockables{
    width: fit-content;
    margin-left: var(--xl);
}

.Rewards-centerImg{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 20vw;
    max-height: 20vh;
    border-radius: 50%;
}

.Rewards-title{
    margin-left: var(--m);
    color: var(--textcolor);
}