.projectDocumentation-container{
    margin-right: var(--m);
    width: 70%;
    overflow-y: auto;
    height: 80vh;
}

.project-container {
    padding: var(--m);
}

.projectJournal-container {
    width: 30%;
}

.projectDocumentation-headerTitle {
    color: var(--projectpage-headerTitle);
    text-shadow: -1px -1px 0 var(--projectpage-headerTitleShadow);
}
