.projectDocumentation-container{
    margin-right: var(--m);
    width: 70%;
    overflow-y: auto;
    height: 80vh;
}

.project-container {
    background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), var(--projectpage-background) center 0% fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: var(--m);
    height: 85vh;
}

.projectJournal-container {
    width: 30%;
}

.projectDocumentation-headerTitle {
    color: var(--projectpage-headerTitle);
    text-shadow: -1px -1px 0 var(--projectpage-headerTitleShadow);
}
