.Skeleton-title {
    color: var(--mainpage-title);
    /*text-shadow: -2px -2px 0 var(--primary), 2px -2px 0 var(--primary), -2px 2px 0 var(--primary), 2px 2px 0 var(--primary);*/
    font-size: 2.5vw;
    font-weight: bold;
}

.Skeleton-mainPage-Description {
    background: linear-gradient(to bottom right, rgba(100,100,100,0.1), rgba(100,100,100,0.2));    
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    margin-top: 3.5vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 2vw;
    border: 0.35vw solid white;
}

.Skeleton-mainPage-text {
    background-color: palevioletred;
    color: white;
    font-size: 2vw;
}

.Skeleton-mainPage-2ndDescription {
    background: linear-gradient(0deg, rgba(50,50,50,0.3), rgba(100,100,100,0.3));
    margin-top: 2.5vw;
    width: 25%;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 2.5vw;
    border: 0.35vw solid white;
}

.Skeleton-mainPage-2ndDescription + .Skeleton-mainPage-2ndDescription {
    margin-left: 5vw;
}

.Skeleton-mainPage-2ndtext {
    background-color: rgb(87, 177, 106);
    color: white;
    font-size: 1.5vw;
}

.Skeleton-mainPage-3rdtext {
    background-color: rgb(163, 177, 87);
    color: white;
    font-size: 1.5vw;
}

.Skeleton-2ndtitle {
    color: var(--mainpage-title);
    /*text-shadow: -2px -2px 0 var(--primary), 2px -2px 0 var(--primary), -2px 2px 0 var(--primary), 2px 2px 0 var(--primary);*/
    font-size: 2vw;
    font-weight: bold;
}


.Skeleton-mainPage-container {
    background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ), var(--mainpage-background) center 0% fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}