/* Fill me in :) */
html {background-color: var(--grey)};

.Skeleton-mainPage-Description{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    padding-left: var(--xl);
    padding-right: var(--xl);
    font-size: xx-large;
}

.Skeleton-title {
    color: var(--primary--dim);
    text-shadow: -2px -2px 0 var(--primary), 2px -2px 0 var(--primary), -2px 2px 0 var(--primary), 2px 2px 0 var(--primary);
    font-size: 56px;
    font-weight: bold;
}