.CreateProjectDisplay-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 182px; /* 100% + 25% from ProjectDisplay container + text */
    margin-left: var(--l);
    background-color: var(--createprojectdisplay-background);
    border-radius: var(--m);
}

.CreateProjectDisplay-symbol {
    height: 100%;
    width:100%;
    line-height: 175px; /*somewhat hacky way of making it in the middle. Equal to container height*/
    font-size: 40px;
    text-align: center;
}