.JournalMessages-container {
    position: absolute;
    bottom: 32px;
    height: calc(80vh - 32px);
    width: calc(100% - 6px);
    background-color: var(--journal-container-background);
    border-radius: 10% 10% 0 0;
    border: 3px solid var(--journal-container-border);
}

.JournalMessages-containerCantSend {
    position: absolute;
    height: 80vh;
    width: 100%;
    background-color: var(--journal-container-background);
    border-radius: 10%;
    border: 3px solid var(--journal-container-border);
}
  
.JournalMessages-newContainer {
    width: 100%;
    position: absolute;
    bottom: 0;
}
  
.JournalMessages-historyContainer {
    flex-grow: 1;
    overflow-y: auto;
}