.JournalMessage-container {
    margin: 0 var(--m) var(--xs);
}
  
.JournalMessage-sender {
    /* width: 106px; */
    margin-right: var(--xs);
    flex-shrink: 0;
}

.JournalMessage-time {
    color: gray;
    margin-right: var(--xs);
    font-size:0.8em;
    order:1;
}

.JournalMessage-date {
    padding-left: var(--s);
}

.JournalMessage-content {
    padding: var(--s);
    /* background: var(--medgrey);
    border-radius: var(--l); */
    overflow-wrap: break-word;
    word-wrap: break-word;
}
  
.JournalMessage-mine .JournalMessage-content {
    background: var(--primary--dim);
    color: var(--white);
}

.JournalMessage-delete {
    font-family: "Open Sans";
    font-size: 14px;
    padding: var(--s), var(--m);
    text-align: center;
    background-color: var(--grey);
    color: var(--primary);
    border: var(--primary) 1px solid;
    background: var(--grey);
    transition: color 0.1s, background 0.1s;
    margin-left: var(--s);
    width: fit-content;
    border-radius: var(--xs);
    display:inline-block;
}

.JournalMessage-delete:hover {
    color: var(--white);
    background-color: var(--primary);
}
