.JournalMessage-container {
    margin: 0 var(--s) var(--xs);
}
  
.JournalMessage-sender {
    /* width: 106px; */
    margin-right: var(--xs);
    flex-shrink: 0;
}
  
.JournalMessage-content {
    padding: var(--s);
    /* background: var(--medgrey);
    border-radius: var(--l); */
}
  
.JournalMessage-mine .JournalMessage-content {
    background: var(--primary--dim);
    color: var(--white);
}
  