.JournalMessages-container {
    position: absolute;
    bottom: 32px;
    height: calc(80vh - 32px);
    width: 100%;
    background-color: var(--primary--dim);
    border-radius: 10% 10% 0 0;
}
  
.JournalMessages-newContainer {
    width: 100%;
    position: absolute;
    bottom: 0;
}
  
.JournalMessages-historyContainer {
    flex-grow: 1;
    overflow-y: auto;
}