.JournalMessage-container {
    margin: 0 var(--m) var(--xs);
}
  
.JournalMessage-sender {
    /* width: 106px; */
    margin-right: var(--xs);
    flex-shrink: 0;
}

.JournalMessage-time {
    color: gray;
    margin-right: var(--xs);
    font-size:0.8em;
    order:1;
}

.JournalMessage-date {
    padding-left: var(--s);
}

.JournalMessage-content {
    padding: var(--s);
    /* background: var(--medgrey);
    border-radius: var(--l); */
    overflow-wrap: break-word;
    word-wrap: break-word;
}
  
.JournalMessage-mine .JournalMessage-content {
    background: var(--primary--dim);
    color: var(--white);
}
