.Journal-container {
    height: 80vh;
    width: 100%;
    margin: 0;
    /*position: fixed;
    right: 0;
    bottom: 0;
    display: flex;*/
    justify-content: right;
}
  
/* .Journal-userList {
    width: 260px;
    margin-right: var(--l);
} */
  
.Journal-chatContainer {
    overflow-y: auto;
}
  