.ProjectDisplay-container {
    width: 210px;
    height: 140px;
    margin-left: var(--l);
    margin-bottom: 66px; /* 140px*.25 + var(--l) */
}

.ProjectDisplay-image {
    /* background-image: ; */
    height: 100%;
    width: 100%;
    background-color: var(--projectdisplay-image-container);
    border-radius: var(--m) var(--m) 0 0;
}

.ProjectDisplay-textContainer {
    width: 100%;
    height: 30%;
    background-color: var(--projectdisplay-bottom-container);
    color: var(--white);
    border-radius: 0 0 var(--m) var(--m);
    border-left: 1px solid lightgreen;
    border-right: 1px solid lightgreen;
    border-bottom: 1px solid lightgreen;
}

.ProjectDisplay-text {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: large;
}

.ProjectDisplay-Explore-image { /*different background color for Explore page*/
    height: 100%;
    width: 100%;
    background-color: var(--exploredisplay-image-container);
    border-radius: var(--m) var(--m) 0 0;
}


.ProjectDisplay-Explore-textContainer { /*different background color for Explore page*/
    width: 100%;
    height: 30%;
    background-color: var(--exploredisplay-bottom-container);
    color: var(--white);
    border-radius: 0 0 var(--m) var(--m);
    border-left: 1px solid lightgreen;
    border-right: 1px solid lightgreen;
    border-bottom: 1px solid lightgreen;
}
