.StoryCard-container {
    height: auto; /*scales to documents inside*/
    /* border: var (--darkgrey) 1px solid; */
    background-color: var(--primary--dim);
    border-radius: var(--m);
    margin: var(--l); 
    flex-direction: row;
    padding: var(--s);

}

.StoryCard-storytext {
    font-size: 20px;
    margin: var(--m);
}

.StoryCard-editButton { /*add-on to NewPostInput-button*/
}

.StoryCard-linkBlockContainer {
    width: 20%;
    order: 1;
}

.StoryCard-textBlockContainer {
    width: 50%;
}

.StoryCard-imageBlockContainer {
    width: 30%;
}