.Effect-container{
    max-width: 100%;
}
.Effect-imageContainer{
    display:inline;
    width: 30%;
    float:left;
}
.Effect-text{
    padding: 0px;
    margin: 0px;
}
.Effect-textContainer{
    display: inline;
    width: 70%;
    float:right;
}
.Effect-image{
    
    max-width: 100%;
}