.NavBar-container {
    padding: var(--m) var(--l);
    background-color: var(--primary);
  }
  
  .NavBar-title { /*deprecated*/
    color: transparent;
    font-size: 20px;
    padding: var(--s) var(--m);
    /* background-image: url("../public/GumdropsLogo.png"); */
    background-image: url("../public/GumdropsIcon_Transparent.png");
    background-size: 140px 50px;
    margin-bottom: var(--s);
    margin-right: var(--s);
  }

  .NavBar-mainImg {
    width: 8em;
    height: auto;
    vertical-align: middle;
  }

  .NavBar-linkContainer {
    margin-left: var(--s);
    vertical-align: middle;
    /*margin-top: var(--m);*/
  }

  .NavBar-link,
  .NavBar-link:visited {
    color: var(--primary--dim);
    font-size: var(--l);
    opacity: 0.6;
    text-decoration: underline overline var(--primary--dim);
  }
  
  .NavBar-link:hover {
    opacity: 0.8;
  }
  
  .NavBar-login {
    opacity: 1;
    margin-left: var(--m);
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  }
  