.NavBar-container {
    /* padding: var(--m) var(--l); */
    background-color: var(--primary);
  }
  
  /* .NavBar-title {  //deprecated
    color: transparent;
    font-size: 20px;
    padding: var(--s) var(--m);
    //background-image: url("../public/GumdropsLogo.png"); 
    background-image: url("../public/GumdropsIcon_Transparent.png");
    background-size: 140px 50px;
    margin-bottom: var(--s);
    margin-right: var(--s);
  } */

  .NavBar-imageContainer {
    height: 100%;
    width: 15%;
    margin-left: 2.5%;
  }

  .NavBar-mainImg {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .NavBar-linkContainer {
    width: 82.5%;
    margin: 0;
    vertical-align: middle;
    display: inline-flex;
    justify-content: space-evenly;
  }

  .NavBar-link,
  .NavBar-link:visited {
    color: var(--grey);
    font-size: var(--l);
    opacity: 0.6;
    text-decoration: underline;
    display: flex;
    align-items: center;
  }
  
  .NavBar-link:hover {
    opacity: 0.8;
  }
  
  .NavBar-login {
    opacity: 1;
    margin-left: var(--m);
    background-color: var(--grey);
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  }
  