.NavBar-container {
    /* padding: var(--m) var(--l); */
    /*background-color: var(--primary);*/
    background: var(--navbar-container);
    border-bottom: 1vw solid rgb(224, 145, 171);
    max-width: 100%;
    max-height: 10vh;
    align-items: center;
  }
  
  /* .NavBar-title {  //deprecated
    color: transparent;
    font-size: 20px;
    padding: var(--s) var(--m);
    //background-image: url("../public/GumdropsLogo.png"); 
    background-image: url("../public/GumdropsIcon_Transparent.png");
    background-size: 140px 50px;
    margin-bottom: var(--s);
    margin-right: var(--s);
  } */

  .NavBar-imageContainer {
    height: 100%;
    width: 15%;
    margin-left: 1.5vw;
    margin-right: 0.5vw;
  }

  .NavBar-mainImg {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .NavBar-linkContainer {
    width: 70%;
    margin: 0;
    vertical-align: middle;
    display: inline-flex;
    justify-content: flex-start;
  }

  .NavBar-link,
  .NavBar-link:visited {
    color: var(--navbar-header);
    font-size: 1.5vw;
    opacity: 0.6;
    text-decoration: underline;
    display: flex;
    align-items: center;
  }
  
  .NavBar-link:hover {
    opacity: 0.8;
  }
  
  .NavBar-login {
    opacity: 1;
    margin-left: var(--m);
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: 1.5vw;
  }
  
  .NavBar-loginContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 20%;
    max-width: 20%;
    height: 90%;
    max-height: 3.5vw;
  }